<form [formGroup]="authForm" class="auth-form">
	<h2 class="form-heading">{{ authMode | titlecase }} Form</h2>

	<ng-container *ngIf="authMode === 'register'; else loginPrompt">
		<p>Already have an account? <a routerLink="/login">Log in</a></p>
	</ng-container>

	<ng-template #loginPrompt>
		<p>No account yet? <a routerLink="/register">Register</a></p>
	</ng-template>

	<app-form-field
		*ngIf="authMode === 'register'"
		[control]="$any(authForm).controls['username']"
		[label]="'Username'"
		[placeholder]="'Enter a username'"
		[isTextArea]="false"
		[requiredErrorMessage]="'Username is required'"
	></app-form-field>

	<app-form-field
		[control]="$any(authForm).controls['email']"
		[label]="'Email'"
		[placeholder]="'Enter an email'"
		[isTextArea]="false"
		[requiredErrorMessage]="'Email is required'"
	></app-form-field>

	<app-form-field
		[control]="$any(authForm).controls['password']"
		[label]="'Password'"
		[placeholder]="'Enter a password'"
		[isTextArea]="false"
		[type]="'password'"
		[requiredErrorMessage]="'Password is required'"
		[patternErrorMessage]="'Password must contain at least one digit, one uppercase and one lowercase letter'"
	></app-form-field>

	<app-button
		[label]="authMode === 'register' ? 'Register' : 'Log in'"
		[color]="'accent'"
		[btnType]="'submit'"
		[className]="'btn-submit'"
		[disabled]="!authForm.valid"
		[matBtnType]="'mat-mdc-raised-button'"
		(buttonClicked)="onAuthFormSubmit()"
	></app-button>
</form>
