.btn-submit {
	cursor: pointer;
	margin-top: auto;
	padding: 0.8em;
	width: 6em;
	border-radius: 1em;
	background-color: #ffb6c1;
	border: 2px solid black;
	font-weight: 600;
}

button:disabled {
	background-color: #cccccc;
	color: #999999;
}
