:host {
	.form-input-wrapper {
		width: 25em;
		height: 6em;
	}

	.form-input {
		width: 100%;
		font-size: 1.2em;
	}

	::ng-deep .mdc-text-field {
		background-color: #333333;
	}

	.mat-mdc-form-field-error {
		font-size: 0.7em;
	}
}
